{{ form_start(userForm, {'action': action, 'method': methode,
    'attr': {'class': 'col-lg-6'}}) }}
<div class="form-group">
    {{ form_label(userForm.pseudo) }}
    {{ form_widget(userForm.pseudo, { 'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(userForm.tasks) }}
    {{ form_widget(userForm.tasks, { 'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-primary" type="submit">Envoyer</button>
{{ form_widget(userForm._token) }}
{{ form_end(userForm, {'render_rest': false}) }}